<!DOCTYPE html>
<html ng-app="index">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="app/libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../public/libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="app/assets/css/index.css"/>
    <title>Express+Angular+Gulp Demo</title>
</head>
<body ng-controller="IndexController">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!--            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>-->
            <a class="navbar-brand" ui-sref="/"></a>
        </div>
        <!--<div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="student">学生</a></li>
                <li><a ui-sref="curse">课程</a></li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">系统<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>基本设置</a></li>
                        <li><a>管家管理</a></li>
                        <li><a>操作日志</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">admin<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" ui-sref="changePass">修改密码</a></li>
                        <li><a ui-sref="logout">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>-->
    </div>
</nav>
<div class="main">
    <div ui-view></div>
</div>
</body>

<script src="app/libs/jquery/jquery.min.js"></script>
<script src="app/libs/bootstrap/js/bootstrap.min.js"></script>

<!--angular resources-->
<script src="app/libs/angular/angular.min.js"></script>
<script src="app/libs/angular/angular-ui-router.min.js"></script>
<script src="app/libs/angular/ui-bootstrap.js"></script>
<script src="app/libs/angular/ui-bootstrap-tpls.js"></script>

<!--my js-->
<script src="app/app.js"></script>
<script src="app/module/index/index.services.js"></script>
<script src="app/module/index/index.controller.js"></script>
<!--student-->
<script src="app/module/student/student.app.js"></script>
<script src="app/module/student/student.services.js"></script>
<script src="app/module/student/student.controller.js"></script>
<!--curse-->
<script src="app/module/curse/curse.app.js"></script>
<script src="app/module/curse/curse.service.js"></script>
<script src="app/module/curse/curse.controller.js"></script>
</html>